<% include header %>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4"><%- title %><small></small></h1>

  <form action="<%- baseUrl %>videos/upload" method="post" class="form-horizontal">
    <div class="form-group row">
      <label for="title" class="control-label col-lg-1 col-sm-2">Title:</label>
      <div class="col-lg-7 col-sm-10">
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter title...">
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="control-label col-lg-1 col-sm-2">Description:</label>
      <div class="col-lg-7 col-sm-10">
        <input type="text" name="description" id="description" class="form-control" placeholder="Enter description...">
      </div>
    </div>
    <div class="form-group row">
      <label for="category" class="control-label col-lg-1 col-sm-2">Category:</label>
      <div class="col-lg-7 col-sm-10">
        <input type="text" name="category" id="category" class="form-control" placeholder="Enter category...">
      </div>
    </div>
    <div class="form-group row">
      <label for="privacy" class="control-label col-lg-1 col-sm-2">Privacy:</label>
      <div class="col-lg-7 col-sm-10">
        <select name="privacy" class="form-control" id="privacy">
          <option value="Public">Public</option>
          <option value="Private">Private</option>
          <option value="Shared">Shared</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="tags" class="control-label col-lg-1 col-sm-2">Tags:</label>
      <div class="col-lg-7 col-sm-10">
        <input type="text" name="tags" id="tags" class="form-control" placeholder="Enter tags...">
      </div>
    </div>
    <div class="form-group row">
      <button class="col-lg-2 col-md-4 col-sm-6 btn btn-primary">Upload</button>
    </div>

  </form>


</div>
<!-- /.container -->



<% include footer %>
